body{
	background-color: #f0f0f0;
}

.page-header {
    background-color: #ffffff;
    margin-top: 0;
    padding: 20px 20px 20px 20px;
    margin-bottom: 0;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #444;
    font-size: 28pt;
    text-decoration: none;
    text-align: center;
    font-family: 'Dancing Script', cursive;
}

.page-header .logo{
	text-align: center;
}

.page-header img{
	width: 80px;
	height:80px;
}

.hero-image{
	height: 400px;
	width: 100%;
	background-image: url("../img/hero-background.jpg");
	background-size: cover;
	background-position: center;
}

.content {
    margin-left: 40px;
}

h1, h2, h3, h4 {
    font-family: 'PT Sans', sans-serif;
}

.date {
    float: right;
    color: #de89a6;
}

.btn-default {
    text-shadow: none;
    border: 1px solid #cb6085;
    background-image: none;
    background-color: #fff;
    color: #cb6085;
}

.btn-default:hover {
    background-color: #cb6085;
    color: #fff;
    border: 1px solid #cb6085;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu {
    color: #cb6085;
    font-size: 12pt;
    margin-right: 20px;
    padding: 5px 10px;
    border-radius: 3px;
    border: 1px solid #cb6085;
}

.top-menu:hover {
   background-color: #cb6085;
   color: #fff;
   text-decoration: none;
}

.posts-list{
	margin-top: -200px;
}

.post {
    margin: 20px 0;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 2px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, .2);
}

.post h1{
	margin-top: 0px;
	border-bottom: 1px solid #eaeaea;
	margin-bottom: 20px;
	padding-bottom: 14px;
}

.post h1, .post h1 a, .post h1 a:visited {
    color: #000000;
    font-size: 18pt;
}

.post h1 a, .post h1 a:visited {
    text-decoration: underline;
    text-decoration-color: #cb6085;
    text-decoration-style: dashed;
}

.post h1 a:hover{
	color: #cb6085;
}

.new-post{
	background-color: #fff;
	padding: 20px;
    border-radius: 2px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, .2);
    margin-bottom: 50px;
}

.login-form{
	background-color: #fff;
	padding: 20px;
    border-radius: 2px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, .2);
}
